/* main color:  #002147 */

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    background: white;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    background-color: #002147;
}
.text-header h2,h1 {
    margin: 5px 0 5px 0;
}

.links-nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    color: white;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.links-nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.links-nav a:hover:after {
    width: 100%;
    left: 0;
}

.links-nav a:hover {
    cursor: pointer;
}

.text-header {
    display: flex;
    justify-content: center;
    color: black;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

main {
    margin: 0px 250px 0px 250px;
}

.text-header span {
    padding-top: 15px;
}

.about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 15px;
    box-shadow: gray 0px 10px 10px;
}

.image-about-me img {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.desc-about-me {
    color: black;
    padding: 0px 20px 0px 20px;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.about-wrapper {
    text-align: center;
    font-size: 1.5rem;
}

.coming-school {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 15px;
    box-shadow: gray 0px 10px 10px;
    margin-bottom: 25px;
}

.image-coming-me img {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.desc-coming-me {
    color: black;
    padding: 0px 20px 0px 20px;
    text-align: right;
}

.coming-wrapper {
    text-align: center;
    font-size: 1.5rem;
}

.image-my-goal img {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

a i {
    font-size: 48px;
    margin: 15px;
    text-decoration: none;
    color: white;
}

.my-goal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 15px;
    box-shadow: gray 0px 10px 10px;
}

.goal-wrapper {
    text-align: center;
    font-size: 1.5rem;
}

.desc-my-goal {
    color: black;
    padding: 0px 20px 0px 20px;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 15px;
    box-shadow: gray 0px 10px 5px;
    margin-bottom: 25px;
}

.projects-wrapper {
    text-align: center;
    font-size: 1.5rem;
}

.desc-projects {
    color: black;
    padding: 0px 20px 0px 20px;
    text-align: right;
}

.image-projects img {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #002147;
}

.footer-links {
    display: flex;
    justify-content: center;
}

#rsschool-logo {
    width: 80px;
    height: 48px;
}

.copyright {
    color: white;
    text-align: center;
    padding-bottom: 15px;
}

.rsschool-link {
    font-size: 48px;
    text-decoration: none;
    color: white;
    margin: 15px 15px 15px 15px;
    width: 80px;
    height: 48px;
}

@media (max-width:1022px) {
    main {
        margin: 0px;
    }
    .links-nav {
        text-align: center;
    }
    .links-nav a {
        text-align: center;
    }
}

@media (max-width: 768px) {
    main {
        margin: 0px;
    }
    .links-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text-header h2 {
        font-size: 20px;
        text-align: center;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 15px;
    }
    .d-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-me {
        border-radius: 0;
    }
    .image-about-me {
        width: 300px;
        padding-bottom: 15px;
    }
    .coming-school {
        border-radius: 0;
    }
    .desc-coming-me {
        padding-bottom: 15px;
        width: 300px;
    }
    .my-goal {
        border-radius: 0;
    }
    .desc-my-goal {
        padding-top: 15px;
        width: 300px;
    }
    .desc-about-me {
        width: 300px;
    }
    .desc-projects {
        padding-bottom: 15px;
        width: 300px;
    }
    .projects {
        border-radius: 0px;
    }
}
code {
    font-size: 20px;
        line-height: 28px;
        background-color: lightblue;
        color: #ffffff;
}